{% extends "base.html" %}

{% block title %}
Home
{% endblock %}
{% block content %}

<h1 align="center">Home screen</h1>

{% if portfolios %}
<table class="table table-striped" style="margin-top: 20px">
  <thead>
    <tr>
      <th scope="col">Portfolio</th>
      <th scope="col">Cash</th>
      <th scope="col">Shares</th>
      <th scope="col">Modify</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for portfolio in portfolios %}
    <tr>
      <td>{{ portfolio.portfolio_name}}</td>
      <td>{{ portfolio.cash }}</td>
      <td>{{ portfolio.shares }}</td>
      <td>
        <a href="/modify-portfolio" class="btn btn">✏️</a>
      </td>
      <td>
      <form action="/delete-portfolio" method="post" onsubmit="return confirmDeletion('{{ portfolio.portfolio_name }}')">
          <input type="hidden" name="portfolio_id" value="{{ portfolio.id }}" />
          <button type="submit" class="btn btn">❌</button>
      </form>

      <script>
      function confirmDeletion(portfolioName) {
          const isConfirmed = confirm(`Are you sure you want to delete the portfolio "${portfolioName}"?`);
          return isConfirmed;
      }
      </script>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div align="center" style="margin-top: 15px;">
  <a href="/new-portfolio" class="btn btn-primary">Add Portfolio</a>
</div>

{% else %}
<div align="center" style="margin-top: 15px;">
  <a href="/new-portfolio" class="btn btn-primary">Create the First Portfolio</a>
</div>

{% endif %}

{% endblock %}
