{% extends "base.html" %}

{% block title %}
Home
{% endblock %}
{% block content %}

<h1 align="center">Home screen</h1>

{% if portfolios %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Cash</th>
      <th scope="col">Shares</th>
    </tr>
  </thead>
  <tbody>
    {% for portfolio in portfolios %}
    <tr>
      <th scope="row">{{ portfolio.id }}</th>
      <td>{{ portfolio.cash }}</td>
      <td>{{ portfolio.shares }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div align="center" style="margin-top: 15px;">
  <a href="/new-portfolio" class="btn btn-primary">Create new Portfolio</a>
</div>
{% else %}
<div align="center" style="margin-top: 15px;">
  <a href="/new-portfolio" class="btn btn-primary">Create the First Portfolio</a>
</div>
{% endif %}

{% endblock %}
